{% extends 'base.html' %}
{% load static %}
{% block content %}
                <div class="page-title">
                    <h1 class="page-title-pedagogico light-title">Boletim</h1>
                </div>
                <div class="page-actions">
                    <a href="" class="body-black-text page-actions-pesquisar">Pesquisar</a>
                    <a href="" class="body-black-text page-actions-incluir">Incluir</a>
                    <a href="" class="body-black-text page-actions-alterar">Alterar</a>
                    <a href="" class="body-black-text page-actions-excluir">Excluir</a>
                </div>

                {% include '_partials/_menu.html' %}

        <main>
        </main>
{% endblock %}