{% extends 'base.html' %}
{% load static %}
{% block content %}
                <div class="page-title">
                    <h1 class="page-title-pedagogico light-title">Cursos</h1>
                </div>
                <div class="page-actions">
                    <a href="{% url 'cursos' %}" class="body-black-text page-actions-cancelar">Cancelar</a>
                </div>
                
                {% include '_partials/_menu.html' %}

        <main>
            <div class="container-body">
                <h2 class="title">Incluir</h2>
                <form action="{% url 'cursos_incluir' %}" method="post">
                    <div class="form-section">
                        <h3 class="light-title">Dados básicos</h3>
                        <div class="input-unit">
                            <label for="school-code">Código <span>*</span></label>
                            <input type="text" name="school-code" id="school-code" required pattern="[0-9]{4}" title="Um código de quatro dígitos deve ser inserido" size="4">
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Enviar">
                </form>
            </div>
        </main>

        {% include '_partials/_form_validation.html' %}
{% endblock %}