__pycache__/
athena/__pycache__
assets/collectstatic
apps/administrativo/__pycache__
apps/administrativo/migrations/__pycache__
apps/administrativo/documentos/__pycache__
apps/api/__pycache__
apps/api/migrations/__pycache__
apps/financeiro/__pycache__
apps/financeiro/migrations/__pycache__
apps/funcionalidades/__pycache__
apps/funcionalidades/migrations/__pycache__
apps/index/__pycache__
apps/index/migrations/__pycache__
apps/institucional/__pycache__
apps/institucional/migrations/__pycache__
apps/pedagogico/__pycache__
apps/pedagogico/migrations/__pycache__
apps/usuario/__pycache__
apps/usuario/migrations/__pycache__
*.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
