commands:
  00_logs_create_dir:
    command: mkdir -p /var/log/app-logs
  01_logs_change_dir_permissions:
    command: chmod -R g+s /var/log/app-logs
  02_logs_change_dir_owner:
    command: chown -R webapp:webapp /var/log/app-logs

files:
  '/opt/elasticbeanstalk/tasks/taillogs.d/django.conf':
    mode: '000755'
    owner: root
    group: root
    content: |
      /var/log/app-logs/django.log
  '/opt/elasticbeanstalk/tasks/bundlelogs.d/django.conf':
    mode: '000755'
    owner: root
    group: root
    content: |
      /var/log/app-logs/django.log
