option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: 'athena.wsgi:application'
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: '/dashboard/'
    MatcherHTTPCode: '200-499'

packages:
  yum:
    postgresql-devel: []

container_commands:
  collectstatic:
    command: 'manage.py collectstatic'
  makemigrations:
  migrate:
  setlocale:
    import locale
    locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')
