option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: athena.wsgi:application
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /dashboard/
    MatcherHTTPCode: 200-499

packages:
  yum:
    postgresql-devel: []

commands:
  00_fonts:
    command: cp -R assets/lib/fonts/*.ttf /usr/share/fonts/
