{% extends 'base.html' %}
{% load static %}
{% block content %}
                <div class="page-title">
                    <h1 class="page-title-institucional light-title">Ano acadêmico</h1>
                </div>
                <div class="page-actions">
                    <a href="{% url 'ano_academico' %}" class="body-black-text page-actions-cancelar">Cancelar</a>
                </div>

                {% include '_partials/_menu.html' %}

        <main>
            <div class="container-body">
                <h2 class="title">Incluir</h2>
                <form action="{% url 'ano_academico_incluir' %}" method="post">
                    {% csrf_token %}
                    <div class="form-section">
                        <h3 class="light-title">Dados</h3>
                        <div class="input-unit">
                            <label for="academic-year-id">ID <span>*</span></label>
                            <input type="text" name="academic-year-id" id="academic-year-id" required pattern="[0-9]{4}/[0-9]{1}" title="O ID deve estar no formato xxxx/x" size="6">
                        </div>
                        <div class="input-unit">
                            <label for="description">Descrição <span>*</span></label>
                            <input type="text" name="description" id="description" required size="35">
                        </div>
                        <div class="input-unit">
                            <label for="periodicity">Periodicidade <span>*</span></label>
                            <select name="periodicity" id="periodicity" required>
                                <option value="Bimestral">Bimestral</option>
                                <option value="Trimestral">Trimestral</option>
                                <option value="Semestral">Semestral</option>
                            </select>
                        </div>
                        <div class="input-unit">
                            <label for="start-date">Início <span>*</span></label>
                            <input type="date" name="start-date" id="start-date" required size="35">
                        </div>
                        <div class="input-unit">
                            <label for="end-date">Término <span>*</span></label>
                            <input type="date" name="end-date" id="end-date" required size="35">
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Enviar">
                </form>
            </div>
        </main>

        {% include '_partials/_form_validation.html' %}
{% endblock %}