{% extends 'base.html' %}
{% load static %}
{% block content %}
                <div class="page-title">
                    <h1 class="page-title-institucional light-title disable-select">Integrações</h1>
                </div>
                <div class="page-actions">
                    <a href="{% url 'integracoes' %}" class="body-black-text page-actions-cancelar">Cancelar</a>
                </div>

                {% include '_partials/_menu.html' %}

        <main>
            <div class="container-body">
                <h2 class="title">Alterar</h2>
                <form action="{% url 'integracoes_alterar' %}" method="post">
                    {% csrf_token %}
                    <div class="form-section integration">
                        <h3 class="light-title">Conta Azul</h3>
                        <div class="input-unit">
                            <input type="hidden" name="school-id" id="school-id" value="{{integracoes.escola}}">
                        </div>
                        <div class="input-unit">
                            <label for="conta_azul">Integrar?</label>
                            <input type="checkbox" name="conta_azul" id="conta_azul" {% if integracoes.conta_azul %}checked{% endif %}>
                        </div>
                        {% if integracoes.conta_azul %}
                        <div class="input-unit">
                            <label for="conta_azul-active">Ativo?</label>
                            <input type="checkbox" name="conta_azul-active" id="conta_azul-active" disabled {% if integracaocontaazul.is_active %}checked{% endif %}>
                        </div>
                        {% if not integracaocontaazul.is_active %}
                        <div class="input-unit">
                            <a href="{% url 'integracao_conta_azul_ativar' %}">Ativar</a>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <input type="submit" name="submit" id="submit" value="Enviar">
                </form>
            </div>
        </main>
{% endblock %}