/*************** RESET ***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}



/*************** VARIABLES ***************/
:root {
    --hue: 159;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: black;
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
}



/*************** BASE ***************/
body {
    font: 400 1rem "DM Sans", sans-serif;
    color: var(--text-color);
    background-color: var(--body-color);
    -webkit-font-smoothing: antialiased;
    margin-bottom: 3rem;
    margin-top: 3.875rem;
}

body main div.container-body p {
    margin-bottom: 1rem;
    margin-top: -0.1rem;
}

.login-screen-body, .signup-screen-body {
    margin-bottom: 0;
    margin-top: 0;
}

.title {
    font: 700 1.875rem "Poppins", sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
    padding-bottom: 0.8rem;
}

.light-title {
    font: 500 1.25rem "Poppins", sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.light-subtitle {
    font: 500 1.125rem "Poppins", sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.light-title + .light-subtitle {
    margin-top: -0.5rem;
}

.body-black-text {
    font: 400 1rem "DM Sans", sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: antialiased;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/*************** LOGIN ***************/
.login-screen {
    background-color: var(--body-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-screen h1 {
    padding-bottom: 1.5rem;
}

.login-screen h1 .logo {
    cursor: default;
}

.login {
    background: white;
    height: auto;
    width: 28rem;
    padding: 3rem;
    margin: 0px auto;
    border-radius: 0.25rem;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.login h2 {
    padding-bottom: 1.5rem;
}

.login input {
    width: 22rem;
    margin-bottom: 0.5rem;
}

.login p {
    text-align: center;
    padding-top: 1rem;
}

.login p a {
    color: #6558f5;
}



/*************** SIGNUP ***************/
.signup-screen {
    background-color: var(--body-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-screen h1 {
    padding-bottom: 1rem;
}

.signup-screen h1 .logo {
    cursor: default;
}

.signup {
    background: white;
    height: auto;
    width: 28rem;
    padding: 2.5rem;
    margin: 0px auto;
    border-radius: 0.25rem;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.signup h2 {
    padding-bottom: 0.5rem;
}

.signup p.signup-info {
    text-align: justify;
    padding-bottom: 1rem;
}

.signup p.signup-info span {
    color: #1aae9f;
    font-weight: bold;
}

.signup input {
    width: 22rem;
    margin-bottom: 0.5rem;
}

.signup select {
    width: 9.868rem;
    margin-bottom: 0.5rem;
}

.signup p.toggle-login-screen {
    text-align: center;
    padding-top: 0.75rem;
}

.signup p.toggle-login-screen a {
    color: #6558f5;
}



/*************** DJANGO PASSWORD SCREENS ***************/
.django-screen {
    background-color: var(--body-color);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.django-screen h1 {
    padding-bottom: 1.5rem;
}

.django-screen h1 .logo {
    cursor: default;
}

.django {
    background: white;
    height: auto;
    width: 28rem;
    padding: 3rem;
    margin: 0px auto;
    border-radius: 0.25rem;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.django input {
    width: 22rem;
}

.django p {
    text-align: justify;
    padding-bottom: 1rem;
}

.django p a {
    color: #6558f5;
}

.django a input {
    display: block;
    font-size: 1rem;
    line-height: 0.75rem;
    padding: 0.5rem 1rem;
    border: unset;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.django a input[type="button"] {
    color: white;
    background-color: rgb(84, 105, 212);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 212) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 0.5rem;
    width: auto;
    height: 2.5rem;
}



/*************** HEADER ***************/
#header {
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: white;
    width: 100%;
}

.logo {
    height: 3.125rem;
    width: auto;
    cursor: pointer;
}

nav {
    height: 3.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.page-title {
    position: fixed;
    left: 8.28020625rem;
    padding-left: 3.71979375rem;
}

.page-title-dashboard {
    color: #788896;
}

.page-title-administrativo {
    color: #1aae9f;
}

.page-title-pedagogico {
    color: #6558f5;
}

.page-title-financeiro {
    color: #d3455b;
}

.page-title-institucional {
    color: #f7c325;
}

.page-actions {
    position: fixed;
    right: 8.125rem;
    padding-right: 3.875rem;
}

.page-actions * {
    display: inline;
}

.page-actions a[href=""] {
    display: none;
}

nav div.page-actions a {
    padding: 0 0.5rem;
}

.page-actions-cancelar {
    color: red;
}



/*************** PAGE ACTIONS DROPDOWN SECTION ***************/
nav div.page-actions .page-actions-incluir {
    cursor: pointer;
}

nav div.page-actions div.page-actions-dropdown-section {
    background: white;
    display: none;
    position: absolute;
    /*left: 6.1rem;*/
    top: 2.375rem;   
}

nav div.page-actions a.page-actions-incluir.open + div.page-actions-dropdown-section {
    display: block;
}

nav div.page-actions div.page-actions-dropdown-section a {
    display: block;
    padding: calc(8/14 * 1rem) 1rem;
}

nav div.page-actions div.page-actions-dropdown-section a:hover {
    background: #f3f3f3;
}



/*************** FOOTER ***************/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    
    background-color: white;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer div.footer-text p {
    float: left;
    color: var(--title-color);
    padding: 0 0.9rem;
}

.footer div.footer-links a {
    background-color: white;
    float: right;
    position: relative;
    display: block;
    padding: 0 0.9rem;
}



/*************** SIDE MENU ***************/
nav .menu {
    display: none;
}

nav.show .menu {
    background-color: white;
    border-top: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    height: calc(100% - 3.625rem - 2rem);
    width: 12.5rem;

    display: block;
    position: fixed;
    top: 3.625rem;
    left: 0;
    padding: 0.5rem 1.5rem;
}

nav div.menu div.link-section a.main-button {
    display: block;
    cursor: pointer;
    padding-bottom: 0.8rem;
}

nav div.menu div.link-section a.dropdown-button {
    display: block;
    cursor: pointer;
}

nav div.menu div.link-section div.dropdown-section {
    padding: 0 0.8rem;
}

nav div.menu div.link-section div.dropdown-section a {
    display: block;
    padding-bottom: 0.8rem;
}

nav div.menu div.link-section div.dropdown-section {
    display: none;
}

.light-title {
    transition: color 200ms;
}

#light-title-dashboard:hover {
    color: #788896;
}

#light-title-administrativo:hover, #light-title-administrativo.active {
    color: #1aae9f;
}

#light-title-pedagogico:hover, #light-title-pedagogico.active {
    color: #6558f5;
}

#light-title-financeiro:hover, #light-title-financeiro.active {
    color: #d3455b;
}

#light-title-institucional:hover, #light-title-institucional.active {
    color: #f7c325;
}



/*************** PROFILE ***************/
nav div.profile .profile-image {
    cursor: pointer;
    display: block;
}

nav div.profile img {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
    object-fit: cover;
}

nav div.profile div.profile-dropdown-section {
    background: white;
    display: none;
    position: absolute;
}

nav div.profile a.profile-image.open + div.profile-dropdown-section {
    display: block;
}

nav div.profile div.profile-dropdown-section a {
    display: block;
    padding: calc(8/14 * 1rem) 1rem;
}

nav div.profile div.profile-dropdown-section a:hover {
    background: #f3f3f3;
}



/*************** FOOTER ***************/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    
    background-color: white;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer div.footer-text p {
    float: left;
    color: var(--title-color);
    padding: 0 0.9rem;
}

.footer div.footer-links a {
    background-color: white;
    float: right;
    position: relative;
    display: block;
    padding: 0 0.9rem;
}



/*************** LAYOUT ***************/
.container {
    width: 100%;
    padding: 0rem 5rem;
}

.container-body {
    width: 100%;
    padding: 0 12rem;
    /*padding: 0 10.78020625rem;*/
    /*padding-right: 11.725rem;*/
    text-align: justify;
}



/*************** LIST DB ITEMS ***************/
main table.list-db-items {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

main table.list-db-items th, main table.list-db-items td{
    padding: 0.25rem 0;
}



/*************** FORMS ***************/
/*form div div {
    display: flex;
    justify-content: space-between;
    align-items: start;
}*/

form .light-title {
    padding-bottom: 1rem;
}

form .light-title span {
    color: red;
}

.input-unit {
    display: inline-block;
    padding-right: 1rem;
    padding-bottom: 1rem;
    vertical-align: top;
}

form label {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.375rem;
}

form label span {
    color: red;
}

form input {
    display: block;
    font-size: 1rem;
    line-height: 0.75rem;
    padding: 0.5rem 1rem;
    border: unset;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

form input[type="submit"] {
    color: white;
    background-color: rgb(84, 105, 212);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 212) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 0.5rem;
    width: 7rem;
    height: 2.5rem;
}



/*************** FORMS - MULTIPLE BOXES ***************/
div .light-title strong.action-add-item {
    padding-left: 1rem;
    cursor: pointer;
}

div .light-title strong.action-remove-item {
    padding-left: 1rem;
    cursor: pointer;
}
