{% extends 'base.html' %}
{% load static %}
{% block content %}
                <div class="page-title">
                    <h1 class="page-title-administrativo light-title">Contratos</h1>
                </div>
                <div class="page-actions">
                    <a href="{% url 'contratos' %}" class="body-black-text page-actions-cancelar">Cancelar</a>
                </div>

                {% include '_partials/_menu.html' %}

        <main>
            <div class="container-body">
                <h2 class="title">Alterar</h2>
                <form action="{% url 'contratos_alterar' contrato.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-section">
                        <h3 class="light-title">Dados Contratuais</h3>
                        <div class="input-unit">
                            <label for="contract-id">ID <span>*</span></label>
                            <input type="text" name="contract-id" id="contract-id" required readonly value="{{contrato.id}}" pattern="[0-9]{10}" size="10">
                        </div>
                        <div class="input-unit">
                            <label for="type">Tipo <span>*</span></label>
                            <select name="type" id="type" required readonly>
                                <option value="Educacional">Educacional</option>
                                <!--<option value="Trabalho">Trabalho</option>-->
                            </select>
                        </div>
                        <div class="input-unit course-classes">
                            <label for="course-id">Curso <span>*</span></label>
                            <input type="hidden" name="course-id" id="course-id" class="select-value" value="{{contrato.curso}}">
                            <select name="course-id" id="course-id" required readonly>
                                {% for curso in cursos %}
                                <option value="{{curso.id}}">{{curso.descricao}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-unit course-classes">
                            <label for="class-id">Turma <span>*</span></label>
                            <input type="hidden" name="class-id" id="class-id" class="select-value" value="{{contrato.turma}}">
                            <select name="class-id" id="class-id" required readonly>
                            </select>
                        </div>
                        <div class="input-unit">
                            <label for="sign-date">Data da Assinatura <span>*</span></label>
                            <input type="date" name="sign-date" id="sign-date" required readonly value="{{contrato.data_assinatura}}">
                        </div>
                        {% if contrato.digitalizacao %}
                        <div class="input-unit">
                            <label for="digitalized-copy">Digitalização atual</label>
                            <a href="{{contrato.digitalizacao}}" target="_blank">Clique aqui</a>
                        </div>
                        {% endif %}
                        <div class="input-unit">
                            <label for="digitalized-copy">Digitalização</label>
                            <input type="file" name="digitalized-copy" id="digitalized-copy" accept="image/*, .pdf">
                        </div>
                    </div>
                    <div class="form-section">
                        <h3 class="light-title">Dados Pessoais</h3>
                        <div class="input-unit item-section-parent">
                            <label for="student-id">ID Estudante <span>*</span></label>
                            <input type="text" name="student-id" id="student-id" class="student-id" required readonly value="{{contrato.estudante}}" pattern="[0-9]{9}" title="O ID Estudantil deve conter 9 dígitos" size="9">
                        </div>
                        <div class="input-unit item-section-parent">
                            <label for="student-name">Nome Estudante <span>*</span></label>
                            <input type="text" name="student-name" id="student-name" class="student-name" required readonly size="35">
                        </div>
                        <div class="input-unit item-section-parent">
                            <label for="guardian-id">ID Responsável</label>
                            <input type="text" name="guardian-id" id="guardian-id" class="guardian-id" readonly value="{{contrato.responsavel}}" pattern="[0-9]{9}r[0-9]{1,2}" size="12">
                        </div>
                        <div class="input-unit item-section-parent">
                            <label for="guardian-name">Nome Responsável</label>
                            <input type="text" name="guardian-name" id="guardian-name" class="guardian-name" readonly size="35">
                        </div>
                        <div class="input-unit">
                            <label for="is-student-contractor">Estudante é contratante? <span>*</span></label>
                            <input type="checkbox" name="is-student-contractor" id="is-student-contractor" readonly {% if contrato.estudante_contratante %}checked{% endif %}>
                        </div>
                    </div>
                    <div class="form-section">
                        <h3 class="light-title">Dados Financeiros</h3>
                        <h4 class="light-subtitle">Matrícula</h4>
                        <div class="input-unit">
                            <label for="registration-discount">Desconto <span>*</span></label>
                            <input type="text" name="registration-discount" id="registration-discount" class="discount" required readonly value="{{contrato.desconto_pagamento_matricula}}" pattern="[0-9]{1,3},?[0-9]{0,2}%" size="7">
                        </div>
                        <div class="input-unit">
                            <label for="registration-payment-date">Data de Pagamento <span>*</span></label>
                            <input type="date" name="registration-payment-date" id="registration-payment-date" required readonly value="{{contrato.data_pagamento_matricula}}">
                        </div>
                        <h4 class="light-subtitle">Curso</h4>
                        <div class="input-unit">
                            <label for="discount">Desconto <span>*</span></label>
                            <input type="text" name="discount" id="discount" class="discount" required readonly value="{{contrato.desconto_pagamento_curso}}" pattern="[0-9]{1,3},?[0-9]{0,2}%" size="7">
                        </div>
                        <div class="input-unit">
                            <label for="installments">Parcelas <span>*</span></label>
                            <input type="text" name="installments" id="installments" class="numeric-code-2" required readonly value="{{contrato.parcelas_pagamento_curso}}" pattern=[0-9]{1,2} size="2">
                        </div>
                        <div class="input-unit">
                            <label for="payment-day">Dia de Pagamento <span>*</span></label>
                            <input type="text" name="payment-day" id="payment-day" class="numeric-code-2" required readonly value="{{contrato.dia_pagamento_curso}}" pattern="[0-9]{1,2}" size="2">
                        </div>
                        <div class="input-unit">
                            <label for="payment-start">Início do Pagamento <span>*</span></label>
                            <input type="date" name="payment-start" id="payment-start" required readonly value="{{contrato.data_inicio_pagamento_curso}}">
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Enviar">
                </form>
            </div>
        </main>

        {% include '_partials/_form_validation.html' %}
{% endblock %}