{% extends 'base.html' %}
{% load static %}
{% block content %}
                <div class="page-title">
                    <h1 class="page-title-administrativo light-title">Escolas</h1>
                </div>
                <div class="page-actions">
                    <a href="" class="body-black-text page-actions-pesquisar">Pesquisar</a>
                    <a href="{% url 'escolas_incluir' %}" class="body-black-text page-actions-incluir">Incluir</a>
                    <a href="" class="body-black-text page-actions-alterar">Alterar</a>
                    <a href="" class="body-black-text page-actions-excluir">Excluir</a>
                </div>
                
                {% include '_partials/_menu.html' %}

        <main>
            <div class="container-body">
                {% include '_partials/_alertas.html' %}
                {% if escolas %}
                <h2 class="title">Lista</h2>
                <table class="list-db-items">
                    <thead>
                        <tr>
                            <th class="light-subtitle"></th>
                            <th class="light-subtitle">Código</th>
                            <th class="light-subtitle">Nome fantasia</th>
                            <th class="light-subtitle">E-mail</th>
                            <th class="light-subtitle">Telefone</th>
                            <th class="light-subtitle">Celular</th>
                            <th class="light-subtitle">Cidade</th>
                            <th class="light-subtitle">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if escolas %}
                        {% for escola in escolas %}
                        <tr>
                            <td><input type="radio" name="school" class="choose-menu-id" id="{{ escola.id }}" value="{{ escola.id }}"></td>
                            <td>{{ escola.id }}</td>
                            <td>{{ escola.nome_fantasia }}</td>
                            <td>{{ escola.email }}</td>
                            <td>{{ escola.telefone }}</td>
                            <td>{{ escola.celular }}</td>
                            <td>{{ escola.cidade}}</td>
                            <td>{{ escola.estado }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </main>
{% endblock %}