{% load static %}
<div class="menu">
    {% if request.user.escola.modulosescola.dashboard %}
    <div class="link-section">
        <a href="{% url 'dashboard' %}" class="light-title main-button" id="light-title-dashboard">Dashboard</a>
    </div>
    {% endif %}

    {% if request.user.escola.modulosescola.administrativo_escolas or request.user.escola.modulosescola.administrativo_pessoas_estudantes or request.user.escola.modulosescola.administrativo_pessoas_responsaveis or request.user.escola.modulosescola.administrativo_pessoas_colaboradores or request.user.escola.modulosescola.administrativo_contratos or request.user.escola.modulosescola.administrativo_secretaria or request.user.escola.modulosescola.administrativo_recepcao or request.user.escola.modulosescola.administrativo_relatorios %}
    {% if perms.administrativo.view_escola or perms.administrativo.view_pessoaestudante or perms.administrativo.view_pessoaresponsavel or perms.administrativo.view_pessoacolaborador or perms.administrativo.view_contrato %}
    <div class="link-section">
        <a class="light-title main-button dropdown-button" id="light-title-administrativo">Administrativo</a>
        <div class="dropdown-section">
            {% if request.user.escola.modulosescola.administrativo_escolas and perms.administrativo.view_escola %}
            <a href="{% url 'escolas' %}" class="body-black-text">Escolas</a>
            {% endif %}
            {% if request.user.escola.modulosescola.administrativo_pessoas_estudantes or request.user.escola.modulosescola.administrativo_pessoas_responsaveis or request.user.escola.modulosescola.administrativo_pessoas_colaboradores %}
            {% if perms.administrativo.view_pessoaestudante or perms.administrativo.view_pessoaresponsavel or perms.administrativo.view_pessoacolaborador %}
            <a class="body-black-text dropdown-button">Pessoas</a>
            <div class="dropdown-section">
                {% if request.user.escola.modulosescola.administrativo_pessoas_estudantes and perms.administrativo.view_pessoaestudante %}
                <a href="{% url 'pessoas_estudantes' %}" class="body-black-text">Estudantes</a>
                {% endif %}
                {% if request.user.escola.modulosescola.administrativo_pessoas_responsaveis and perms.administrativo.view_pessoaresponsavel %}
                <a href="{% url 'pessoas_responsaveis' %}" class="body-black-text">Responsáveis</a>
                {% endif %}
                {% if request.user.escola.modulosescola.administrativo_pessoas_colaboradores and perms.administrativo.view_pessoacolaborador %}
                <a href="{% url 'pessoas_colaboradores' %}" class="body-black-text">Colaboradores</a>
                {% endif %}
            </div>
            {% endif %}
            {% endif %}
            {% if request.user.escola.modulosescola.administrativo_contratos and perms.administrativo.view_contratoeducacional %}
            <a href="{% url 'contratos' %}" class="body-black-text">Contratos</a>
            {% endif %}
            {% if request.user.escola.modulosescola.administrativo_secretaria %}
            <a href="{% url 'secretaria' %}" class="body-black-text">Secretaria</a>
            {% endif %}
            {% if request.user.escola.modulosescola.administrativo_recepcao %}
            <a href="{% url 'recepcao' %}" class="body-black-text">Recepção</a>
            {% endif %}
            {% if request.user.escola.modulosescola.administrativo_relatorios %}
            <a href="{% url 'administrativo_relatorios' %}" class="body-black-text">Relatórios</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endif %}

    {% if request.user.escola.modulosescola.pedagogico_cursos or request.user.escola.modulosescola.pedagogico_turmas or request.user.escola.modulosescola.pedagogico_boletim or request.user.escola.modulosescola.pedagogico_diario_classe or request.user.escola.modulosescola.pedagogico_sala_virtual or request.user.escola.modulosescola.pedagogico_vestibulares or request.user.escola.modulosescola.pedagogico_relatorios %}
    <div class="link-section">
        <a class="light-title main-button dropdown-button" id="light-title-pedagogico">Pedagógico</a>
        <div class="dropdown-section">
            {% if request.user.escola.modulosescola.pedagogico_cursos %}
            <a href="{% url 'cursos' %}" class="body-black-text">Cursos</a>
            {% endif %}
            {% if request.user.escola.modulosescola.pedagogico_turmas %}
            <a href="{% url 'turmas' %}" class="body-black-text">Turmas</a>
            {% endif %}
            {% if request.user.escola.modulosescola.pedagogico_boletim %}
            <a href="{% url 'boletim' %}" class="body-black-text">Boletim</a>
            {% endif %}
            {% if request.user.escola.modulosescola.pedagogico_diario_classe %}
            <a href="{% url 'diario_de_classe' %}" class="body-black-text">Diário de Classe</a>
            {% endif %}
            {% if request.user.escola.modulosescola.pedagogico_sala_virtual %}
            <a href="{% url 'sala_virtual' %}" class="body-black-text">Sala Virtual</a>
            {% endif %}
            {% if request.user.escola.modulosescola.pedagogico_vestibulares %}
            <a href="{% url 'vestibulares' %}" class="body-black-text">Vestibulares</a>
            {% endif %}
            {% if request.user.escola.modulosescola.pedagogico_relatorios %}
            <a href="{% url 'pedagogico_relatorios' %}" class="body-black-text">Relatórios</a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if request.user.escola.modulosescola.financeiro_bancos or request.user.escola.modulosescola.financeiro_movimentacoes or request.user.escola.modulosescola.financeiro_relatorios %}
    <div class="link-section">
        <a class="light-title main-button dropdown-button" id="light-title-financeiro">Financeiro</a>
        <div class="dropdown-section">
            {% if request.user.escola.modulosescola.financeiro_bancos %}
            <a href="{% url 'bancos' %}" class="body-black-text">Bancos</a>
            {% endif %}
            {% if request.user.escola.modulosescola.financeiro_movimentacoes %}
            <a href="{% url 'movimentacoes' %}" class="body-black-text">Movimentações</a>
            {% endif %}
            {% if request.user.escola.modulosescola.financeiro_relatorios %}
            <a href="{% url 'financeiro_relatorios' %}" class="body-black-text">Relatórios</a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if request.user.escola.modulosescola.institucional_cadastro_escolar or request.user.escola.modulosescola.institucional_usuarios_permissoes or request.user.escola.modulosescola.institucional_ano_academico %}
    <div class="link-section">
        <a class="light-title main-button dropdown-button" id="light-title-institucional">Institucional</a>
        <div class="dropdown-section">
            {% if request.user.escola.modulosescola.institucional_cadastro_escolar %}
            <a href="{% url 'cadastro_escolar' %}" class="body-black-text">Cadastro escolar</a>
            {% endif %}
            {% if request.user.escola.modulosescola.institucional_usuarios_permissoes %}
            <a href="{% url 'usuarios_permissoes' %}" class="body-black-text">Usuários e Permissões</a>
            {% endif %}
            {% if request.user.escola.modulosescola.institucional_ano_academico %}
            <a href="{% url 'ano_academico' %}" class="body-black-text">Ano acadêmico</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

<div class="profile">
    {% if request.user.pessoaestudante %}
    <a class="profile-image"><img src="{{request.user.pessoaestudante.foto}}" alt="Perfil"></a>
    {% elif request.user.pessoaresponsavel %}
    <a class="profile-image"><img src="{{request.user.pessoaresponsavel.foto}}" alt="Perfil"></a>
    {% elif request.user.pessoacolaborador %}
    <a class="profile-image"><img src="{{request.user.pessoacolaborador.foto}}" alt="Perfil"></a>
    {% elif request.user.escola %}
    <a class="profile-image"><img src="{{request.user.escola.logo}}" alt="Perfil"></a>
    {% else %}
    <a class="profile-image"><img src="{% static 'files/profile_icon.jpeg' %}" alt="Perfil"></a>
    {% endif %}
    <div class="profile-dropdown-section">
        <a href="{% url 'perfil' %}" class="body-black-text">Perfil</a>
        <a href="{% url 'preferencias' %}" class="body-black-text">Preferências</a>
        <a href="{% url 'logout' %}" class="body-black-text">Logout</a>
    </div>
</div>
</nav>
</header>