{% load static %}
<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet" />
        <link rel="icon" href="{% static 'files/athena_icon.svg' %}">
        <title>Athena</title>
        <link href="{% static 'css/bootstrap-alerts.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
    </head>
    <body class="signup-screen-body">
        <main class="signup-screen">
            <h1><img class="logo" src="{% static 'files/athena_icon.svg' %}" alt="Athena"></h1>
            <div class="signup">
                {% include '_partials/_alertas.html'%}
                <form action="{% url 'dashboard' %}" method="POST">
                    <h2 class="light-title">Cadastre-se</h2>
                    <p class="signup-info">Você deseja saber mais informações sobre <span>Athena</span>? Digite seus dados abaixo e entraremos em contato em breve!</p>
                    <div class="input-unit">
                        <label for="name">Nome</label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div class="input-unit">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="input-unit">
                        <label for="phone-number">Telefone</label>
                        <input type="tel" name="phone-number" id="phone-number" required pattern="[0-9]{10,11}" title="Digite apenas números, e não se esqueça do DDD" size="11">
                    </div>
                    <div class="input-unit">
                        <label for="contact-preference">Preferência de contato</label>
                        <select name="contact-preference" id="contact-preference" required multiple>
                            <option value="whatsapp">Whatsapp</option>
                            <option value="call">Ligação</option>
                            <option value="email">E-mail</option>
                        </select>
                    </div>
                    <div class="input-unit">
                        <label for="contact-time">Horário</label>
                        <select name="contact-time" required multiple>
                            <option value="morning">Manhã (9h - 12h)</option>
                            <option value="lunch">Almoço (12h - 14h)</option>
                            <option value="afternoon">Tarde (14h - 19h)</option>
                        </select>
                    </div>
                    <input type="submit" value="Entrar">
                </form>
                <p class="toggle-login-screen">Já possui uma conta? <a href="{% url 'login' %}">Clique aqui</a></p>
            </div>
        </main>

        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
